<!-- templates/registration/login.html -->
{% extends '_base.html' %}

{% block title %}LogIn{% endblock title %}

{% block content %}
<main>
    <section class="registration">
        <div class="container-fluid">
            <h2>Авторизация</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                    <a class="enter" href="#">Регистрация</a>
                    <div class="google">
                        <a href="#">
                            <img src="img/google.png" alt="">
                        </a>
                    </div>
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}