{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="theme-color" content="#1e1043"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#201F1F">
    <meta name="msapplication-navbutton-color" content="#201F1F">
    <meta name="apple-mobile-web-app-status-bar-style" content="#201F1F">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo1.png" />
    <title>{% block title %}Schetchiki{% endblock title %}</title>
    <!-- =================Ссылки на файлы============= -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- ===========ШРИФТЫ================= -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- font-family: 'Roboto', sans-serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <!-- ============================================== -->

    <link rel="stylesheet" href="{% static 'css/style-min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/splide.min.css' %}">
    <script defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'js/parallax.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW({
            mobile: false,       // default
        }).init();
    </script>
</head>

<body>
    <header>
        <div class="red_header">
            <h4><span id="print">Главный офис: улица Мухтара Ашрафий 108А</span><span class="print">|</span></h4>
            <div class="social">
                <h4>Соц сети:</h4>
                <div class="social-media">
                    <a href=""><img src="{% static 'images/soc1.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/soc2.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/soc3.png' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="header-find">
                <a href=""><img src="{% static 'images/logo.png' %}" alt=""></a>
                <div class="find">
                    <form action="">
                        <input type="text" placeholder="Поиск Товаров">
                        <button type="submit"><img src="{% static 'images/find.png' %}" alt=""></button>
                    </form>
                </div>
                <div class="numbers">
                    <div class="num_icon">
                        <div class="call">
                            <img src="{% static 'images/call.png' %}" alt="">
                        </div>
                        <div class="num">
                            <h5> 93 355 51 45 <br>
                                90 954 58 82</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mob-find">
                <form action="">
                    <input type="text" placeholder="Поиск Товаров">
                    <button type="submit"><img src="{% static 'images/find.png' %}" alt=""></button>
                </form>
            </div>
        </div>
        <div class="full-line"></div>
        <nav class="nav">
            <div class="collap_se">
                <ul class="nav_bar">
                    <li class="nav_li">
                        <a class="" href="#">Магазин<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav_li">
                        <a class="" href="tovar.html">Условия доставки<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav_li">
                        <a class="" href="#">О компании<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav_li registr">
                        <a class="" href="registration.html">Регистрация<span class="sr-only">(current)</span></a>
                    </li>

                    <!-- ЭТО МОБИЛЬНАЯ ВЕРСИЯ mob-li -->
                    <div class="mob-li">
                        <ul class="mob-ul">
                            <li>
                                <a class="" href="#">Магазин<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a class="" href="#">Условия доставки<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a class="" href="#">О компании<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a class="" href="#">Регистрация<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>

                    <!-- ==============ЭТО КОРЗИНА============== -->

                    <a href="korzina.html" class="kor_div"><img src="{% static 'images/korzina.png' %}" alt="">Корзина<div class="kor_num">2</div>
                    </a>
                    <div class="mob_but"><img src="{% static 'images/menu.png' %}" alt=""></div>
                </ul>
            </div>
        </nav>

        <div class="full-line"></div>
    </header>
    {% block content %}
    
    
    {% endblock content %}
    <footer>
        <div class="container-fluid">
            <div class="footer-top">
                <div class="foot_left col-xl-4">
                    <img class="footer_logo" src="{% static 'images/logo.png' %}" alt="">
                    <h5>OOO GENEREL ELECTRIC INVEST- это самый удобный магазин счётчиков</h5>
                    <div class="messengers">
                        <a href=""><img src="{% static 'images/soc1.png' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/soc2.png' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/soc3.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="footer-center col-xl-4">
                    <h3>Информация</h3>
                    <div class="fc">
                        <a href="" class="bot_menu">Условия доставки</a>
                        <a href="" class="bot_menu">Магазин</a>
                        <a href="" class="bot_menu">О компании</a>
                        <a href="" class="bot_menu">Контакты</a>
                    </div>
                </div>
                <div class="footer_right col-xl-4">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A62a593307ad3d9240fab805433caba61eb3b4720e99ac7e08e8b374e425a486c&amp;width=100%25&amp;height=302&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <div class="footer-bottom">
                <div><a href="https://webgroup-tuj.github.io/"><img src="{% static 'images/webgroup.png' %}" alt=""></a><h4>Главный офис: улица  Мухтара Ашрафий 108А</h4></div>
            </div>
        </div>
    </footer>
    <!-- ============================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>