{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
<main>
    <section class="slider">
        <div class="container-fluid">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="slide-img"><img class="header-slider-image" src="{% static 'images/Rectangle 7.png' %}" alt="">
                        </div>
                        <div class="slide-text">
                            <h4>ВЗЛЕТ ТСР-К (ТСРК-011)</h4>
                            <p>Функциональные возможности: <br>
                                • определение потребленного тепла на основании измерения расхода теплоносителя в
                                прямом или обратном трубопроводах и температур на прямом и обратном трубопроводе;
                                <br>
                                • отображение текущей измерительной и архивной информации, а также зафиксированных
                                нештатных состояний теплосистемы на индикаторе прибора; <br>
                            </p>
                            <a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-img"><img class="header-slider-image" src="{% static 'images/Rectangle 7.png' %}" alt="">
                        </div>
                        <div class="slide-text">
                            <h4>ВЗЛЕТ ТСР-К (ТСРК-011)</h4>
                            <p>Функциональные возможности: <br>
                                • определение потребленного тепла на основании измерения расхода теплоносителя в
                            </p>
                            <a href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <!-- If we need navigation buttons -->
            </div>
            <div class="swiper-button-prev"><img src="images/arrow-left.png" alt=""></div>
            <div class="swiper-button-next"><img src="images/arrow-right.png" alt=""></div>
        </div>
    </section>

    <section class="info">
        <div class="container-fluid">
            <div class="info_div">
                <div class="info_icon">
                    <img src="images/card.png" alt="">
                </div>
                <div class="info_text">
                    <h4>Онлайн оплата</h4>
                    <p>Вы можете оплатить товар <br> через <b>Payme</b></p>
                </div>
            </div>
            <div class="info_div">
                <div class="info_icon">
                    <img src="images/truck.png" alt="">
                </div>
                <div class="info_text">
                    <h4>Бесплатная доставка</h4>
                    <p>В радиусе 1 километра <br> от филиала</p>
                </div>
            </div>
            <div class="info_div">
                <div class="info_icon">
                    <img src="images/location.png" alt="">
                </div>
                <div class="info_text">
                    <h4>Наш адрес</h4>
                    <p>Главный офис: улица Мухтара <br> Ашрафий 108А</p>
                </div>
            </div>
        </div>
    </section>

    <section class="tovari">
        <div class="container-fluid">
            <div class="tovari_line">
                <div class="line_word">Новинки</div>
                <div class="line_line"></div>
            </div>
            <div class="tovari_div">
                <!-- ЦИКЛ ОТСЮДА -->
                <div class="item">
                    <div class="item_img">
                        <img src="images/Rectangle 7.png" alt="">
                    </div>
                    <p>ВЗЛЕТ ТСР-К (ТСРК-011)</p>
                    <h4>10 500 000 сум</h4>
                    <div class="item_buttons">
                        <a href="#">Посмотреть</a>
                    </div>
                    <div class="dropdown_div">
                        <form action="">
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <h5>штук</h5>
                            <input type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                <!-- ДО СЮДА -->
                <div class="item">
                    <div class="item_img">
                        <img src="images/Rectangle 7.png" alt="">
                    </div>
                    <p>ВЗЛЕТ ТСР-К (ТСРК-011)</p>
                    <h4>10 500 000 сум</h4>
                    <div class="item_buttons">
                        <a href="#">Посмотреть</a>
                    </div>
                    <div class="dropdown_div">
                        <form action="">
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <h5>штук</h5>
                            <input type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                <div class="item">
                    <div class="item_img">
                        <img src="images/Rectangle 7.png" alt="">
                    </div>
                    <p>ВЗЛЕТ ТСР-К (ТСРК-011)</p>
                    <h4>10 500 000 сум</h4>
                    <div class="item_buttons">
                        <a href="#">Посмотреть</a>
                    </div>
                    <div class="dropdown_div">
                        <form action="">
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <h5>штук</h5>
                            <input type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                <div class="item">
                    <div class="item_img">
                        <img src="images/Rectangle 7.png" alt="">
                    </div>
                    <p>ВЗЛЕТ ТСР-К (ТСРК-011)</p>
                    <h4>10 500 000 сум</h4>
                    <div class="item_buttons">
                        <a href="#">Посмотреть</a>
                    </div>
                    <div class="dropdown_div">
                        <form action="">
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <h5>штук</h5>
                            <input type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                <div class="item">
                    <div class="item_img">
                        <img src="images/Rectangle 7.png" alt="">
                    </div>
                    <p>ВЗЛЕТ ТСР-К (ТСРК-011)</p>
                    <h4>10 500 000 сум</h4>
                    <div class="item_buttons">
                        <a href="#">Посмотреть</a>
                    </div>
                    <div class="dropdown_div">
                        <form action="">
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <h5>штук</h5>
                            <input type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tovari_line">
                <div class="line_line"></div>
            </div>
        </div>
    </section>

    <section class="description">
        <div class="container-fluid">
            <h3>Добро пожаловать в интернет магазин счётчиков</h3>
            <p>Этот магазин предоставляет широкий ассортимент счётчиков. Мы работаем по всему Узбекистану выполняя
                самую быструю доставку в любой населённый пункт. <br>

                За несколько лет работы мы нарастили большую клиентскую базу, который вновь и вновь обращаются за
                нашими услугами. <br>

                У нас вы найдёте сертифицированный товар, отличный сервис и гарантию! Так же у нас постоянно
                проводятся акции распродажи на разные группы товаров</p>
        </div>
    </section>
</main>
{% endblock content %}