<!-- templates/signup.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<main>
    <section class="registration">
        <div class="container-fluid">
            <h2>Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="auth">
                    <button class="enter" href="#">Войти</button>
                    <div class="google">
                        <a href="#">
                            <img src="{% static 'images/google.png' %}" alt="">
                        </a>
                    </div>
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}